#
# Copy this file to .env and uncomment and provide credentials for one or both services
#

### Inventory Alert Configuration

## [JSON ARRAY] URLs to watch for changes, formated as a JSON array.
URL_WATCHLIST=["https://www.microsoft.com","https://www.google.com"]

## [JSON ARRAY] List of strings that indicate an item is sold out
SOLD_OUT_COPY=["out of stock","currently unavailable","sold out","not available"]

## [STRING] (OPTIONAL) Slack Credentials
# SLACK_TOKEN=
# SLACK_WEBHOOK_URL=
# SLACK_CHANNEL=

# [STRING] (OPTIONAL) Discord Webhook URL
# DISCORD_WEBHOOK_URL=

# [STRING] Browser UserAgent, set to something expected
USER_AGENT='Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36'

# [BOOL] Enables Adblocking. NOTE: Enabling Adblock disables caching
ADBLOCK_ENABLED=false

## [INT] Time (in ms) to wait between cycles.
INTERVAL_MS=1000

## [INT] Time (in ms) to wait after the page loads so that initial javascript and animations can play out
WAIT_AFTER_LOAD_MS=2000

## [INT] Maximum time to wait for a page to load
LOAD_TIMEOUT=30000

## [INT] Pixel width of the browser window
BROWSER_WIDTH=1920,

## [INT] Pixel height of the browser window
BROWSER_HEIGHT=1080
